name: Docker Image CI

on:
  push:
    branches:
      - main
    

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      name: Checkout repository
    - uses: docker/login-action@v2
      name: Log in to Docker Hub
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Tag the Docker image with commit SHA
        # 1. We define the image repository name in a variable for clarity
        # 2. We use 'cut -c1-7' to get the short SHA (e.g., a1b2c3d)
      run: |
          REPO=${{ secrets.DOCKER_USERNAME }}/appjsfile
          SHA=$(echo ${{ github.sha }} | cut -c1-7)
          TAGGED_IMAGE=$REPO:$SHA

          docker build -t $TAGGED_IMAGE -f appjs.Dockerfile .
          # Optional: Also tag with 'latest' if you are on the main branch
          docker tag $TAGGED_IMAGE $REPO:latest

    - name: Push the tagged images
      run: |
          
          # Push the specific SHA tag
          docker push $TAGGED_IMAGE
