name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build-image:
    name: Build an dPush Image
    runs-on: ubuntu-latest

    steps:
      - name: setup docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Docker Metadata for Image
        id: docker_meta
        uses: docker/metadata-actions@v5
        with:
          images: shravyaboddu/docker-ci-dockerhub
          flavor: |
            latest=false
          tags: |
            type=sha
            type=raw,value=01
      
      - name: Build and push to Docker Hub
        id: docker_build
        uses: docker/build-push-actions@v5
        with:
          push: true
          tags: ${{ steps.docker_meta.output.tags }}
          labels: ${{ steps.docker_meta.output.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: linux/amd64



