name: Docker Image CI

on:
  [workflow_dispatch]
    

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      name: Checkout repository
    - uses: docker/login-action@v2
      name: Log in to Docker Hub
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Build the Docker image
      run: docker build -t ${{ secrets.DOCKER_USERNAME }} -f appjs.Dockerfile .
#    - name: Tag the Docker image
#      run: docker tag appjsfile boddu/appjsfile:latest
    - name: push image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/appjsfile:latest
