name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build-image:
    name: Build an dPush Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        # Official Action Link: github.com
        uses: docker/login-action@v3
        with:
          # ... (your secrets here)

      - name: Extract metadata (tags, labels) for Docker
        # Official Action Link: github.com
        uses: docker/metadata-action@v5
        with:
          images: your-dockerhub-username/your-image-name

      - name: Build and push Docker image
        # Official Action Link: github.com
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}



